<app-header></app-header>

<div class="jumbotron">
  <h1 class="display-4">O melhor condomínio do Rio de Janeiro</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi assumenda aliquam architecto esse nemo accusantium enim deleniti nostrum iure perferendis quas earum provident, reprehenderit numquam maxime, minima necessitatibus vero.</p>
  <hr class="my-4">
  <app-utilitarios></app-utilitarios>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>